$fontFamily: 'Hind', sans-serif; 
$fontFamily2: 'Source Sans Pro', sans-serif; 
$fontFamily3: 'Fresca', sans-serif; 

$bgImage: url(../img/4.jpg);

$aColor:hsl(309, 32%, 23%);

$btnCol: hsl(0, 0%, 50%);
 
$tourHeadColor:hsl(294, 13%, 53%); 

$rewColor:hsl(298, 24%, 68%);
$rewvBgColor:hsl(298, 26%, 69%); 
$rewvBoxBgColor:hsl(294, 12%, 49%); 
 
$formHeadColor:hsl(315, 32%, 22%); 
$formBgColor:hsl(294, 13%, 58%); 
$formFontColor:hsl(315, 32%, 22%);
 
$copyRightColor: hsl(290, 81%, 20%); 
 
$footerBgColor:hsl(267, 37%, 38%); 
$footerBtnColor:hsl(315, 32%, 22%);
$footerTxtColor:hsl(273, 99%, 70%);
$footerColor:hsl(269, 68%, 57%);

$Image1: url(../img/5.jpeg);
$Image2: url(../img/6.jpg);
$Image3: url(../img/7.jpg);