$fontFamily: 'Hind', sans-serif; 
$fontFamily2: 'Source Sans Pro', sans-serif; 
$fontFamily3: 'Fresca', sans-serif; 

$bgImage: url(../img/0.jpg);

$aColor:white;

$btnCol: hsl(0, 0%, 50%);
 
$tourHeadColor:hsl(206, 3%, 59%); 

$rewColor:hsl(340, 26%, 71%);
$rewvBgColor:hsl(340, 16%, 55%); 
$rewvBoxBgColor:hsl(340, 12%, 49%); 
 
$formHeadColor:hsl(207, 24%, 76%); 
$formBgColor:hsl(207, 13%, 58%); 
$formFontColor:hsl(207, 12%, 48%);
 
$copyRightColor: hsl(219, 81%, 20%); 
 
$footerBgColor:hsl(222, 37%, 38%); 
$footerBtnColor:hsl(219, 81%, 20%);
$footerTxtColor:hsl(220, 79%, 70%);
$footerColor:hsl(220, 69%, 60%);

$Image1: url(../img/1.jpg);
$Image2: url(../img/2.jpg);
$Image3: url(../img/3.jpg);
